.work{
	border-width: 1px;
	/*border-radius: 20px;
	border-color: black;*/
	height: fit-content;
}
.paragraph{
	font-family: arial;
	font-size: 12px;
}
.cn{
	border-style: solid;
	border-width: 1px;
}
.heading{
	color: brown;
}
